/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 Jan, 2015, 3:56:00 PM
    Author     : ABC
*/

body{
    height:100%;
}
.main_div    
{                                /*This is main div design the google map*/
    height:700px;
    width:1400px;
    margin: 0 auto;
}
.main_header                        /* for the google map header */
{
    height:50px;
    width:1400px;
    margin: 0 auto;
}
#lbl_googleMap                    
{                                 /*for the google map header text*/
       margin-top: 15px;
       margin-left: 600px;
       font-size: 30px;
}
.search_opt
{                               /*setting  for the google map address search*/
    height:60px;
    width:1400px;
    margin: 0 auto;
    border-bottom: black 2px solid;
    background: whitesmoke;
}
#lbl_location
{                                    
    margin-top: 10px;
    margin-left: 550px;
    font-size: 25px;
}
#map_canvas
{                        /*display the location*/
    height:500px;
    width:900px;
    margin:0 auto;
    opacity: 1;
    margin-top: 10px;
}
.footer_tag
{                               /*for display the latlng and address*/
    //float:left;        
    margin-top: 10px;
    width:600px;
    height:200px;
    margin:0 auto;
    color:black;
    font-size: 20px;
}
#pac_input
{
    border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 250px;
}